body {
    margin: 0;
    background-color: #eeeeee;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display:block;
}

@keyframes onHoverAnimation {
    0% {
        background-color: #cccccc;  
        top: 30vh;
    }
    50% {
        background-color: rgb(214, 220, 255);   
    }
    100% {
        top: 0vh;
        background-color: rgb(214, 220, 255);
        box-shadow: 0px -5px 30px rgb(164,170,205);
    }
}

@keyframes likeAnimation {
    0% {
        background-color: #cccccc;
    }
    50% {
        background-color: #ff0000;
    }
    100% {
        background-color: #cccccc;
    }
}

@keyframes likeAnimation2 {
    0% {
        top: 0vh;
        background-color: rgb(214, 220, 255);
        box-shadow: 0px -5px 30px rgb(164,170,205);
    }
    50% {
        top: 0vh;
        background-color: #ff0000;
        box-shadow: 0px -5px 45px #ff0000;
    }
    100% {
        top: 0vh;
        background-color: rgb(214, 220, 255);
        box-shadow: 0px -5px 30px rgb(164,170,205);
    }
}

@keyframes horizontalSwipe {
    0% {
        left: 0vw;
    }
    50% {
        left: -110vw;
    }
    50.1% {
        left: 110vw;
    }
    100% {
        left: 0vw;
    }
}

#headerBar {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #444444;
    z-index: 3;
    width: 100vw;
    padding: 0;
    margin: 0;
    box-shadow: 0px 0px 30px #444444;
}

#swipeDiv {
    animation-duration: 0.4s; /* same as transition duration */
    animation-timing-function: cubic-bezier(.1,.8,.23,.92); /* kind of same as transition timing */
    animation-delay: 0ms; /* same as transition delay */
    animation-iteration-count: 1; /* set to 2 to make it run twice, or Infinite to run forever!*/
    animation-direction: normal; /* can be set to "alternate" to run animation, then run it backwards.*/
    animation-fill-mode: none; /* can be used to retain keyframe styling after animation, with "forwards" */
    animation-play-state: running; /* can be set dynamically to pause mid animation*/
}

#factBody {
    display:block;
    margin:auto;
    top: 30vh;
    background-color: #cccccc;
    border-radius: 15px;
    width: 50%;
    min-height: 50vh;
    
    animation-duration: 0.3s; /* same as transition duration */
    animation-timing-function: cubic-bezier(.24,.74,.3,.78); /* kind of same as transition timing */
    animation-delay: 0ms; /* same as transition delay */
    animation-iteration-count: 1; /* set to 2 to make it run twice, or Infinite to run forever!*/
    animation-direction: normal; /* can be set to "alternate" to run animation, then run it backwards.*/
    animation-fill-mode: forwards; /* can be used to retain keyframe styling after animation, with "forwards" */
    animation-play-state: running; /* can be set dynamically to pause mid animation*/
}

.suggestedFact {
    margin-top: 10px;
    margin-bottom: 10px;
    display:block;
    margin:auto;
    background-color: #cccccc;
    border-radius: 15px;
    width: 45vw;
    min-height: 20vh;
}

.suggestedFact h4 {
    text-align: center;
    padding: 15px;
}

.detailColor {
    animation-name: onHoverAnimation;
}

.horizontalSwipe {
    position: relative;
    animation-name: horizontalSwipe;
}

.likeAnimation {
    animation-name: likeAnimation;
}

.likeAnimation2 {
    animation-name: likeAnimation2;
}

.desktopOnly button {
    text-align: center;
    display: block;
    margin: 10px auto;
    font-size: 20px;
    background-color: #b4b4ff;
    border: 2px solid blue;
    border-radius: 10px;
    padding: 10px 35px;
}

#headerBar button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    margin-top: 10px;
}

button:hover {
    background-color: #8c8cff;
}

button:active {
    background-color: rgb(72, 72, 255);
    color: white;
}

.factText {
    text-align: center;
    padding: 15px;
}

#titleText {
    margin-bottom: 0;
    margin-top: 2px;
    font-size: 2em;
    background: linear-gradient(#eee, #ff7a9b);
    margin-left: 15px;
    margin-right: 15px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#explainText {
    padding: 10px;
    font-size: 16px;
    text-align: justify;
}

.desktopOnly {
    display: flex;
    flex-direction: row;
    width: 50vw;
    margin: auto;
    align-items: center;
}
  

@media screen and (max-width: 600px) {
    h2.factText {
        display: none;
    }

    #factBody {
        height: auto;
        position: relative;
    }

    #factBody {
        width: 95vw;
        min-height: 95vw;
    }
    .desktopOnly button {
        display:none;
    }

    .suggestedFact {
        width: 85vw;
    }
}

@media screen and (min-width: 600px) {
    h3.factText {
        display: none;
    }

    #headerBar {
        justify-content: space-around;
    }
}
